<div class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Product Details</h2>
    </div>
    <div class="modal-body">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="product.Img" alt="Product Image" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.Name }}</h5>
              <p class="card-text">Price: {{ product.Price | currency }}</p>
              <p class="card-text">Quantity: {{ product.Quantity }}</p>
              @switch (product.Quantity) {
              @case (0) {
              <p class="text-danger">out of stock</p>
              }
              @case (1) {
              <p class="text-warning">last one item</p>
              }
              @case (2) {
              <p class="text-warning">last two items</p>
              }
              @default {
              <p class="text-success">in stock</p>
              }
            }
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button>
    </div>
  </div>
</div>

