<div class="container-fluid hero-section text-center py-5">
  <div class="container">
    <h1 class="display-4 fw-bold">Welcome to My Store</h1>
    <p class="lead mt-3">Your trusted online bookstore for all kinds of books</p>

    <div class="row justify-content-center mt-4">
      <div class="col-md-6">
        <input [(ngModel)]="searchTerm" placeholder="Search by product name" type="text" class="form-control form-control-lg shadow-sm">
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <app-products [searchTerm]="searchTerm"></app-products>
</div>